.botton {
    text-align: center; /* Centraliza o botão dentro da div */
    margin: 20px 0; /* Espaçamento em cima e embaixo */
}

.botton button {
    background-color: #A73155; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 50px; /* Cantos arredondados */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave para mudança de cor e escala */
    font-family: 'Newsreader', sans-serif; /* Fonte do botão */
}

.botton button:hover {
    background-color: #921F37; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta levemente o botão */
}

/* Estiliza o link dentro do botão */
.botton button a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}

@media (max-width: 768px) {
    .botton button {
        padding: 10px 25px; /* Espaçamento interno */
        font-size: 12px; /* Tamanho da fonte */
    }
}