
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: rgb(236, 169, 169); /* Cor rosa claro */
    border-top: #c90b44 2px solid;
}

.mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50vw;
    height: 350px;
    border-right: #c90b44 4px solid;
}

.men {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.contato {

    height: 350px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: #c90b44 4px solid;
}

.duv {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.meioscontato {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
}

.meioscontato li {
    background-color: #eb8da9;
    border-radius: 30px;
    width: 50%;
    padding: 10px 10px; /* Padding unificado */
    margin: 5px 0; /* Adiciona espaçamento entre os itens */
}

.meioscontato a {
    text-decoration: none;
    color: white;
}

@media (max-width: 769px){

    .rodape {
        height: 250px;
    }
    .mensagem {
        height: 250px;
        border-right: #c90b44 2px solid;
    }
    .men {
        font-size: 15px;
    }
    .contato {
        height: 250px;
        border-left: #c90b44 2px solid;

    }
    .duv {
        font-size: 15px;
    }
    .meioscontato {
        font-size: 10px;
    }
    .meioscontato li {
        width: 90%;
    }

}

