.apresentar_servicos {
    background-color: #FB99B6; /* Cor verde claro */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 150px;
}

.texto1 {
    font-size: 17px;
    color: white;
    font-family: 'Newsreader';
}

.texto2 {
    font-size: 15px;
    font-family: 'News Cycle';
}

@media (max-width: 768px) {

    .apresentar_servicos{
        height: 80px;
        align-items: center;
        gap: 10px;
    }

    .texto1{
        font-size: 10px;
    }

    .texto2{
        font-size: 13px;
    }
}