.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D47290;
    height: 50px;
    box-sizing: border-box;
    position: relative;
}

.logo {
    height: 40px;
    width: 40px;
    background-image: url(../img/logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 150px;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.agendamento {
    color: white;
    background-color: #C14D70;
    padding: 10px; 
    border-radius: 10px; 
    font-family: 'Julius Sans One';
    cursor: pointer;
    font-size: 12px; 
}

.agendamento a {
    text-decoration: none; 
}

.agendamento:hover {
    border: #ebdfdf 1px solid; 
}

@media (max-width: 768px) { 
    .navbar {
        flex-direction: column; 
        height: auto; 
        padding: 10px; 
    }

    .logo {
        background-position: center;
        margin-top: -5px;
        margin-bottom: 5px;

    }

    .nav-links {
        flex-direction: column; 
        margin-right: 0; 
        gap: 5px; 
        align-items: center; 
    }

    .nav-links a {
        font-size: 14px; 
    }

    .agendamento {
        font-size: 14px; 
        padding: 10px 15px; 
        width: 100%; 
        text-align: center; 
}

}